@if (!isLoading) {
@if(data?.length === 0) {
<nz-empty></nz-empty>
} @else {
<div nz-row [nzGutter]="[16, 16]">
    @for (item of data; track $index) {
    <div nz-col [nzSpan]="4">
        @if(type === 'send-friend-request') {
        <nz-ribbon [nzText]="handleFormatFriendRequestStatus(item)">
            <ng-container *ngTemplateOutlet="userItem; context: { user: item  }" />
        </nz-ribbon>
        } @else {
        <ng-container *ngTemplateOutlet="userItem; context: { user: item }" />
        }


    </div>
    }
</div>
}

} @else {
<div nz-row [nzGutter]="[16, 16]">
    @for (item of [].constructor(6); track $index) {
    <div nz-col [nzSpan]="4">
        <div class="user-card__item flex flex-col items-center ">
            <nz-space nzSize="middle">
                <nz-skeleton-element *nzSpaceItem nzType="button" [nzActive]="true" nzSize="large"
                    nzShape="circle"></nz-skeleton-element>
            </nz-space>

            <nz-space nzSize="middle">
                <nz-skeleton-element *nzSpaceItem nzType="button" [nzActive]="true" nzSize="small"
                    class="h-[10px] mt-[4px]" nzShape="default"></nz-skeleton-element>
            </nz-space>

            <nz-space nzSize="middle" class="mt-[8px]">
                <nz-skeleton-element *nzSpaceItem nzType="button" [nzActive]="true" nzSize="small" class="h-[10px]"
                    nzShape="default"></nz-skeleton-element>
            </nz-space>

        </div>
    </div>
    }
</div>
}

<ng-template #userItem let-user="user">
    <div class="user-card__item flex flex-col items-center ">
        <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="user.avatar ? user.avatar : ''" class="mb-[8px]"></nz-avatar>
        <p class="truncate w-full">{{ user.email }}</p>
        @if(type === 'suggest-friend-request') {
        <button nz-button nzType="primary" nzSize="small" class="mt-[8px]"
            (click)="handleSelectFriendRequest(user, 'add')"
            [nzLoading]="suggestFriend.isSendRequestLoading && selectedFriendRequest === user.userId">Add
            Friend</button>
        } @else if (type === 'receive-friend-request') {
        <div class="flex items-center justify-center w-full">
            <button nz-button nzType="primary" nzSize="small" class=""
                (click)="handleSelectFriendRequest(user, 'denied')"
                [nzLoading]="friendRequest.isDeniedRequestLoading && selectedFriendRequest === user.userId">Denied</button>

            <button nz-button nzType="primary" nzSize="small" class=""
                (click)="handleSelectFriendRequest(user, 'accept')"
                [nzLoading]="friendRequest.isAcceptRequestLoading && selectedFriendRequest === user.userId">Accept</button>

        </div>

        }

    </div>
</ng-template>