<div class="suggest-friend w-full h-full ">

    <div class="suggest-friend__header flex items-center">
        <nz-icon nzType="user-add" nzTheme="outline" />
        <p class="ml-[8px]">Suggest Friend</p>
    </div>

    <app-user-card [isLoading]="queryPotentialFriend.isLoading()" type="suggest-friend-request"
        [suggestFriend]="{ isSendRequestLoading: mutationSendFriendRequest.isPending() }"
        [data]="queryPotentialFriend.data()" (onSelectFriendRequest)="handleSendFriendRequest($event)" />


</div>