@use "../../assets/styles/breakpoints.scss" as breakpoints;

.container {
  display: flex;
  margin: 0 auto;
  .login {
    @include breakpoints.respond-to("xl", "lg") {
      width: 935px;
    }

    &__img {
      &--static {
        width: 380px;
      }
    }
  }
}

