<nb-layout [style]="{ overflowY: 'auto' }">
  <nb-layout-column>
    <div class="flex-center container">
      <div class="login__img">
        <img
          src="/images/login-phones.png"
          alt="login-phones"
          class="login__img--static"
        />

        <div class="login__img--dyanamic--wrapper">
          @for (slideImage of listSlideImages; track $index) {
          <img src="{{ slideImage }}" alt="{{ slideImage }}" />
          }
        </div>
      </div>

      <div class="login__form flex-center-column">
        <input nbInput />
        <input nbInput type="password" />

        <div class="w-full">
          <button nbButton status="info" fullWidth="">Login</button>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
