<div class="home">
 <nz-tabset nzTabPosition="left" [nzSelectedIndex]="selectedIndexTab" (nzSelectedIndexChange)="handleSelectIndexTab($event)">
      @for (tab of tabs; track selectedIndexTab) {
        <nz-tab [nzTitle]="titleTemplate" (nzSelect)="handleSelectTab(tab.route)" >
          <ng-template #titleTemplate>
            <nz-icon [nzType]="tab.icon" [nzTheme]="selectedIndexTab === tab.index ? 'fill' : 'outline'" />
          </ng-template>
          <router-outlet></router-outlet>
        </nz-tab>
      }
  </nz-tabset>
</div>



