/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "app/assets/styles/breakpoints.scss";
@import "app/assets/styles/animations.scss";
@import "app/assets/styles/variables.scss";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--font-family-system);
  line-height: var(--system-14-line-height);
  color: var(--primary-text);
  font-size: 12px;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text);
}

.anticon,
.ant-input-password-icon.anticon {
  color: var(--primary-text);
}

.ant-input-affix-wrapper-sm {
  padding: 0;
}

.ant-input,
.ant-input-affix-wrapper {
  background: var(--secondary-bg);
  padding: 0 8px;
  border: 1px solid var(--primary-border-color);
  color: var(--primary-text);
}

.ant-divider {
  color: var(--primary-text);
  background: var(--separator);
  margin: 16px 0;
}

.ant-btn-link {
  padding: 0;
  font-size: inherit;
}

.ant-btn-sm {
  font-size: 12px;
}

.primary-color {
  color: var(--primary-text);
}

.error-message {
  font-size: 10px;
  color: red;
}

.ant-skeleton-button.ant-skeleton-button-sm {
  height: 16px;
  width: 100%;
}

.default-header {
  background: var(--secondary-black);
  padding: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 8px;
}